#gradient_back {
	height: 100vh;
	width: 100vw;
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E0EAFC, #CFDEF3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E0EAFC, #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	align-items: center;
	justify-content: center;
}

#loading_content {
	max-width: 400px;
	text-align: center;

}

.cursive {
	font-family: 'Vibur', cursive;
	font-size: 32px;
}

body {
	font-family: 'Open Sans', sans-serif;
}